<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="../image/images.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/home.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/env.js"></script>
    <script src="../js/home.js"></script>
</head>
<body>
  <div class="container">
      <div class="row"><h1>Lô tô hội</h1></div>    
      <div class="row">
        <div class="col-7 overlay">
          <div class="row" id="papers">
            <div class="col">
              <img src="../image/1.jpg" alt="paper1" id="paper1">
            </div>
            <div class="col">
              <img src="../image/2.jpg" alt="paper2" id="paper2">
            </div>
          </div>
          <canvas id="canvas"></canvas>
        </div>
        <div class="col">
          <button class="btn btn-primary w-100 mb-3" id="undo">Undo</button>
          <button class="btn btn-danger w-100" id="clearAll">Clear All</button>
        </div>
        <div class="col" id="number">
            <h3>Số hiện tại</h3>
            <p id="current"></p>
            <button id="spin" onclick="spin()" class="btn btn-outline-primary">Spin</button>
            <h3>Các số đã xổ: </h3>
            <p id="past"></p>
        </div>
      </div>
      <div class="row mt-5">
          <div class="col">
          <p>Người chơi đã chọn</p>
          <textarea name="chat" id="chat" cols="25" rows="5"></textarea>
          </div>
          <div class="col">
              <p id="note">* Không nhấn reset hoặc spin nếu không phải là cái</p>
              <button id="reset" onclick="reset()" class="btn btn-outline-danger">Reset</button>
              <b><p>Chọn cho tờ thứ: </p></b>
              <input type="radio" name="paper" id="choose1" value="1" checked>
              <label for="choose1">Tờ thứ nhất </label> <br>
              <input type="radio" name="paper" id="choose2" value="2">
              <label for="choose2">Tờ thứ hai </label>
          </div>
          <div class="col">
              <b><p>Chọn tờ khác:</p></b>
              <p id="button">
                  <button id="p0" onclick="choosePaper(this.value);" value="0" class="btn btn-primary">Không chọn</button> <br>
              </p>
              <script>
                  for (let i = 1; i < 17; i++){
                      document.getElementById('button').innerHTML += '<button id="p' + i + '" value="'+ i +'" class="btn btn-primary" onclick="choosePaper(this.value);">' + i + '</button>';
                      if (i % 4 == 0){
                          document.getElementById('button').innerHTML += '<br>';
                      }
                  }

                  for (let i = 0; i <= 9; i++) {
                      document.getElementById('past').innerHTML += '<p id="hang' + i + '">Hàng ' + i +':</p>';
                  }
                  checkName();
                  setInterval(checkPeople, 1000);
              </script>
          </div>
      </div>
  </div>
</body>
<script src="../js/checkNumber.js"></script>
</html>