img {
    height: 100%;
    width: 100%;
}

canvas {
    cursor: pointer;
}

.col {
    height: 90% !important;
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.overlay {
  position: relative;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
    text-align: center;
    font-weight: bold;
}
#current {
    font-size: xx-large;
    color: crimson;
}
#past p {
    margin: auto;
    text-align: left;
    margin-left: 30%;
}

#button button{
    width: 50px;
    height: 50px;
    margin: 5px;
}

#p0 {
    width: 120px !important;
    height: 50px;
}

#spin, #reset {
    width: 120px;
}

#p1, #p2 {
    background-color: pink;
}

#p3, #p4 {
    background-color: red;
}


#p5, #p6 {
    background-color: purple;
}

#p7, #p8 {
    background-color: orange;
}

#p10, #p9 {
    background-color: yellow;
}

#p12, #p11 {
    background-color: green;
}

#p13, #p14 {
    background-color: blue;
}

#p15, #p16 {
    background-color: rgb(145, 255, 0);
}

#note {
    color: red;
}